<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link rel="stylesheet" href="\stylesheets\homecss.css">
</head>
<body>
    <div class="header">
        <h1><a href="/home">Risky Battlesnakes</a></h1>
        <div class="line"></div>
        <li class="divider2"></li>
        <div class="navigation">
            <ul>
                <li><a href="/snakes">Snakes and Ladders</a></li>
                <li class="divider"></li>
                <li><a href="/battleship"><z>Battleship</z></a></li>
                <li class="divider"></li>
                <li><a href="/risk">Risk</a></li>
                <li class="divider"></li>
                <li><a href="/more">More+</a></li>
                <li class="divider"></li>
                <li><a href="/store">Credits</a></li
            </ul>
            <li class="divider2"></li>
            <img src="/images/Xmas.png" alt="Title" class="Xtree">
            <img src="/images/Duck.png" alt="Title" class="Duck">
            <a href="/login"><img src="/images/login.png" alt="Login" class="login"></a>
        </div>
    </div>
</body>
<div class="content">
    Under construction!<br />
    Come back l8r!
    <img src="/images/white2.png" alt="Rectangle 2">
</div>
</html>