<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" href="\stylesheets\homecss.css">
</head>
<body>
    <div class="header">
        <h1><a href="/home"><img src="/images/combine.png" alt="Title" class="titleI"></a></h1>
	<h2><%= username %> - <%= coins %>¢</h2>
        <div class="line"></div>
        <li class="divider2"></li>
        <div class="navigation">
            <ul>
                <li><a href="/snakes">Snakes and Ladders</a></li>
                <li class="divider"></li>
                <li><a href="/battleship">Battleship</a></li>
                <li class="divider"></li>
                <li><a href="/risk">Risk</a></li>
                <li class="divider"></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="divider"></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
            <li class="divider2"></li>
        </div>
    </div>
    <div class="ad">
        <a href="<%= link %>" target="_blank"><img src="/images/<%= image_name %>" alt="ad"></a>
    </div>
    <footer class="footer">
        <p>Copyright 2024</p>
    </footer>
</body>
<div class="content">
    <div class="chart">
        Toby Uzomah, Lauren Wirt, Jake Machulcz | &copy; 2024<br />
        Created with the help of ChatGPT
    </div>
</div>
</html>