<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="\stylesheets\homecss.css">
</head>
<body>
    <div class="header">
        <h1><a href="/home"><img src="/images/combine.png" alt="Title" class="titleI"></a></h1>
        <h2><%= username %> - <%= coins %>¢</h2>
        <div class="line"></div>
        <li class="divider2"></li>
        <div class="navigation">
            <ul>
                <li><a href="../battlesnakes/snakes.html">Snakes and Ladders</a></li>
                <li class="divider"></li>
                <li><a href="../battlesnakes/Battleship.html">Battleship</a></li>
                <li class="divider"></li>
                <li><a href="../battlesnakes/risk.html">Risk</a></li>
                <li class="divider"></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="divider"></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
            <li class="divider2"></li>
        </div>
        <li><a href="/logout"><button class="logout">Logout</button></a></li>
    </div>

    <div class="image-grid">
        <div class="image-container">
            <a href="../battlesnakes/snakes.html"><img src="/images/white1.png" alt="Rectangle 1"></a>
        </div>
        <div class="image-container">
            <a href="../battlesnakes/Battleship.html"><img src="/images/white2.png" alt="Rectangle 2"></a>
        </div>
        <div class="image-container">
            <a href="../battlesnakes/risk.html"><img src="/images/white3.png" alt="Rectangle 3"></a>
        </div>
        <div class="image-container">
            <a href="/leaderboard"><img src="/images/white4.png" alt="Rectangle 4"></a>
        </div>
    </div>
</body>
</html>
