<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homecss.css">
</head>
<body>
    <div class="header">
        <h1>Risky Battlesnakes</h1>
        <img src="snowflake.jpg" alt="Title" class="snowflake">
        <div class="line"></div>
        <div class="navigation">
            <ul>
                <li><a href="Snakes.html">Snakes and Ladders</a></li>
                <li class="divider"></li>
                <li><a href="Battleship.html">Battleship</a></li>
                <li class="divider"></li>
                <li><a href="Risk.html">Risk</a></li>
                <li class="divider"></li>
                <li><a href="MorePlus.html">More+</a></li>
                <li class="divider"></li>
                <li><a href="Store.html">Store</a></li>
             
            </ul>
            <img src="sf2.jpg" alt="Title" class="snowflake">
            <img src="Xmas.png" alt="Title" class="Xtree">
            <img src="Duck.png" alt="Title" class="Duck">
            <a href="login.html"><img src="login.png" alt="Login" class="login"></a>
        </div>
    </div>

    <div class="image-grid">
        <div class="image-container">
            <a href="Snakes.html"><img src="white1.png" alt="Rectangle 1"></a>
        </div>
        <div class="image-container">
            <a href="Battleship.html"><img src="white2.png" alt="Rectangle 2"></a>
        </div>
        <div class="image-container">
            <a href="Risk.html"><img src="white3.png" alt="Rectangle 3"></a>
        </div>
        <div class="image-container">
            <a href="MorePlus.html"><img src="white4.png" alt="Rectangle 4"></a>
        </div>
    </div>>
    </div>

</body>
</html>
