<!DOCTYPE html>
<html lang="en">
<head>
  <title>Math Results</title>
  <link rel="stylesheet" href="\stylesheets\assignment3.css">
</head>
<body>
  <h2>Math Results</h2>
  <div class="contents">
      <div class="section_name">
	Addition
      </div>
    <p id="results"><%= sumResults %></p>
      <div class="section_name">
	Multiplication
      </div>
    <p id="results"><%= multResults %></p>
    <script src="/users.js"></script>
  </div>
</body>
  <div class="links">
    <a href="/">Full Table</a>
    <a href="/math">Do some math stuff</a>
  </div>
</html>