<!DOCTYPE html>

<html>
    <head>
        <title>Jacob H. Machulcz - Resume</title>
        <link rel="stylesheet" href="assignment3.css">
    </head>

    <body>
	<div class="header">
       	    Jacob H. Machulcz - Resume
	</div>
        
        <div class="box">
            <div class="section_name">
                Contact Information
            </div>
            <div class="contents">
                123 Electric Ave. Pittsburgh, PA 17327<br />
                717-968-1947<br />
                JMachulcz@ycp.edu<br />
            </div>
        </div>

        <div class="container">
            <div class="section_name">
		Objective
            </div>
	    <div class="contents">
	        To gain a position as an entry-level data analyst.
            </div>

            <div class="section_name">
		Education
	    </div>
	    <div class="contents">
	        B.S. Mathematics (Computer Science Minor), York College of Pennsylvania, 2024<br />
                GPA 3.94/4.00
	    </div>
            <div class="contents">
	        A.S. Health Sciences, American Military University, 2021<br />
                GPA 3.72/4.00
	    </div>
         
            <div class="section_name">
		Experience
	    </div>
            <div class="contents">
	        <ul>
                    <li>2021-Present: Professional Musician, Jake Mach</li>
                    <li>2021-2023: Bartender, Regent's Glen Country Club</li>
                    <li>2016-2021: Surgical Technologist, United States Navy</li>
                </ul>
            </div>

            <div class="section_name">
		Skills
	    </div>
	    <div class="contents">
                Probability & Statistics, Linear Algebra, Applied Mathematics, Supply Chain Analytics, 
Java, C, SQL, HTML, CSS
	    </div>
            
            <div class="section_name">
		References
	    </div>
	    <div class="contents">
	        Available upon request.
	    </div>
        </div>
    </body>
    <div class="links">
	<a href="biosketch.html">Biosketch</a> <a href="projects.html">List of Projects</a>
    </div>
</html>
