
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnakesnLadders</title>
    <link rel="stylesheet" href="snakes.css">
</head>


<body>
    <div class="header">
        <h1><a href="/home">Risky Battlesnakes</a></h1>
	<h2><%= username %> - <%= coins %>¢</h2>
        <div class="line"></div>
        <li class="divider2"></li>
        <div class="navigation">
            <ul>
                <li><a href="/snakes"><z>Snakes and Ladders</z></a></li>
                <li class="divider"></li>
                <li><a href="/battleship">Battleship</a></li>
                <li class="divider"></li>
                <li><a href="/risk">Risk</a></li>
                <li class="divider"></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="divider"></li>
                <li><a href="/credits">Credits</a></li
            </ul>
            <li class="divider2"></li>
            <img src="/images/Xmas.png" alt="Title" class="Xtree">
            <img src="/images/Duck.png" alt="Title" class="Duck">
            <a href="/login"><img src="/images/login.png" alt="Login" class="login"></a>
        </div>
    </div>
   
</body>
<div class="grid">
    <h1 id="gameheader" >Snakes and ladder</h1>

    <div id="diceCont">
        <p>Red's Turn : </p>
        <p id="dice">0</p>
        <button id="diceBtn">ROLL</button>
    </div>


    <div class="cont">



        <div class="box" id="b100">


        </div>
        <div class="box" id="b99">

        </div>
        <div class="box" id="b98">

        </div>
        <div class="box" id="b97">

        </div>
        <div class="box" id="b96">

        </div>
        <div class="box" id="b95">

        </div>
        <div class="box" id="b94">

        </div>
        <div class="box" id="b93">

        </div>
        <div class="box" id="b92">

        </div>
        <div class="box" id="b91">

        </div>
        <div class="box" id="b81">

        </div>
        <div class="box" id="b82">

        </div>
        <div class="box" id="b83">

        </div>
        <div class="box" id="b84">

        </div>
        <div class="box" id="b85">

        </div>
        <div class="box" id="b86">

        </div>
        <div class="box" id="b87">

        </div>
        <div class="box" id="b88">

        </div>
        <div class="box" id="b89">

        </div>
        <div class="box" id="b90">

        </div>
        <div class="box" id="b80">

        </div>
        <div class="box" id="b79">

        </div>
        <div class="box" id="b78">

        </div>
        <div class="box" id="b77">

        </div>
        <div class="box" id="b76">

        </div>
        <div class="box" id="b75">

        </div>
        <div class="box" id="b74">

        </div>
        <div class="box" id="b73">

        </div>
        <div class="box" id="b72">

        </div>
        <div class="box" id="b71">

        </div>
        <div class="box" id="b61">

        </div>
        <div class="box" id="b62">

        </div>
        <div class="box" id="b63">

        </div>
        <div class="box" id="b64">

        </div>
        <div class="box" id="b65">

        </div>
        <div class="box" id="b66">

        </div>
        <div class="box" id="b67">

        </div>
        <div class="box" id="b68">

        </div>
        <div class="box" id="b69">

        </div>
        <div class="box" id="b70">

        </div>
        <div class="box" id="b60">

        </div>
        <div class="box" id="b59">

        </div>
        <div class="box" id="b58">

        </div>
        <div class="box" id="b57">

        </div>
        <div class="box" id="b56">

        </div>
        <div class="box" id="b55">

        </div>
        <div class="box" id="b54">

        </div>
        <div class="box" id="b53">

        </div>
        <div class="box" id="b52">

        </div>
        <div class="box" id="b51">

        </div>
        <div class="box" id="b41">

        </div>
        <div class="box" id="b42">

        </div>
        <div class="box" id="b43">

        </div>
        <div class="box" id="b44">

        </div>
        <div class="box" id="b45">

        </div>
        <div class="box" id="b46">

        </div>
        <div class="box" id="b47">

        </div>
        <div class="box" id="b48">

        </div>
        <div class="box" id="b49">

        </div>
        <div class="box" id="b50">

        </div>
        <div class="box" id="b40">

        </div>
        <div class="box" id="b39">

        </div>
        <div class="box" id="b38">

        </div>
        <div class="box" id="b37">

        </div>
        <div class="box" id="b36">

        </div>
        <div class="box" id="b35">

        </div>
        <div class="box" id="b34">

        </div>
        <div class="box" id="b33">

        </div>
        <div class="box" id="b32">

        </div>
        <div class="box" id="b31">

        </div>
        <div class="box" id="b21">

        </div>
        <div class="box" id="b22">

        </div>
        <div class="box" id="b23">

        </div>
        <div class="box" id="b24">

        </div>
        <div class="box" id="b25">

        </div>
        <div class="box" id="b26">

        </div>
        <div class="box" id="b27">

        </div>
        <div class="box" id="b28">

        </div>
        <div class="box" id="b29">

        </div>
        <div class="box" id="b30">

        </div>
        <div class="box" id="b20">

        </div>
        <div class="box" id="b19">

        </div>
        <div class="box" id="b18">

        </div>
        <div class="box" id="b17">

        </div>
        <div class="box" id="b16">

        </div>
        <div class="box" id="b15">

        </div>
        <div class="box" id="b14">

        </div>
        <div class="box" id="b13">

        </div>
        <div class="box" id="b12">

        </div>
        <div class="box" id="b11">

        </div>
        <div class="box" id="b01">

            <p id="p1"></p>

        </div>
        <div class="box" id="b02">

        </div>
        <div class="box" id="b03">

        </div>
        <div class="box" id="b04">

        </div>
        <div class="box" id="b05">

        </div>
        <div class="box" id="b06">

        </div>
        <div class="box" id="b07">

        </div>
        <div class="box" id="b08">

        </div>
        <div class="box" id="b09">

        </div>
        <div class="box" id="b10">

        </div>





    </div>

    <img src="snake ladder.png" alt="">

    </div>
<script>
let tog = 1
    let rollingSound = new Audio('SnakesAndLadder_rpg-dice-rolling-95182.mp3')
    let winSound = new Audio('SnakesAndLadder_winharpsichord-39642.mp3')
    
    
    
    let p1sum = 0
    let p2sum = 0
    
    
    function play(player, psum, correction, num) {
        let sum
        if (psum == 'p1sum') {
    
            p1sum = p1sum + num
    
            if (p1sum > 100) {
                p1sum = p1sum - num
                // sum = p1sum
            }
    
            if (p1sum == 1) {
                p1sum = 38
            }
            if (p1sum == 4) {
                p1sum = 14
            }
            if (p1sum == 8) {
                p1sum = 30
            }
            if (p1sum == 21) {
                p1sum = 42
            }
            if (p1sum == 28) {
                p1sum = 76
            }
            if (p1sum == 32) {
                p1sum = 10
            }
            if (p1sum == 36) {
                p1sum = 6
            }
            if (p1sum == 48) {
                p1sum = 26
            }
            if (p1sum == 50) {
                p1sum = 67
            }
            if (p1sum == 62) {
                p1sum = 18
            }
            if (p1sum == 71) {
                p1sum = 92
            }
            if (p1sum == 80) {
                p1sum = 99
            }
            if (p1sum == 88) {
                p1sum = 24
            }
            if (p1sum == 95) {
                p1sum = 56
            }
            if (p1sum == 97) {
                p1sum = 78
            }
    
            sum = p1sum
    
    
    
        }
    
        if (psum == 'p2sum') {
    
            p2sum = p2sum + num
    
            if (p2sum > 100) {
                p2sum = p2sum - num
                // sum = p1sum
            }
            
    
            if (p2sum == 1) {
                p2sum = 38
            }
            if (p2sum == 4) {
                p2sum = 14
            }
            if (p2sum == 8) {
                p2sum = 30
            }
            if (p2sum == 21) {
                p2sum = 42
            }
            if (p2sum == 28) {
                p2sum = 76
            }
            if (p2sum == 32) {
                p2sum = 10
            }
            if (p2sum == 36) {
                p2sum = 6
            }
            if (p2sum == 48) {
                p2sum = 26
            }
            if (p2sum == 50) {
                p2sum = 67
            }
            if (p2sum == 62) {
                p2sum = 18
            }
            if (p2sum == 71) {
                p2sum = 92
            }
            if (p2sum == 80) {
                p2sum = 99
            }
            if (p2sum == 88) {
                p2sum = 24
            }
            if (p2sum == 95) {
                p2sum = 56
            }
            if (p2sum == 97) {
                p2sum = 78
            }
    
            sum = p2sum
    
    
    
        }
    
    
        document.getElementById(`${player}`).style.transition = `linear all .5s`
    
    
    
    
    
        if (sum < 10) {
    
            document.getElementById(`${player}`).style.left = `${(sum - 1) * 62}px`
            document.getElementById(`${player}`).style.top = `${-0 * 62 - correction}px`
    
    
        }
    
        else if (sum == 100) {
            winSound.play()
            if (player == 'p1') {
                alert("Red Won !!")
            }
            else if (player == 'p2') {
                alert("Yellow Won !!")
            }
            location.reload()
        }
    
        else {
    
            numarr = Array.from(String(sum))
            n1 = eval(numarr.shift())
            n2 = eval(numarr.pop())
            // console.log(n1, n2)
    
            if (n1 % 2 != 0) {
    
                if (n2 == 0) {
                    document.getElementById(`${player}`).style.left = `${(9) * 62}px`
                    document.getElementById(`${player}`).style.top = `${(-n1 + 1) * 62 - correction}px`
                }
                else {
                    document.getElementById(`${player}`).style.left = `${(9 - (n2 - 1)) * 62}px`
                    document.getElementById(`${player}`).style.top = `${-n1 * 62 - correction}px`
    
                }
    
            }
            else if (n1 % 2 == 0) {
                if (n2 == 0) {
    
                    document.getElementById(`${player}`).style.left = `${(0) * 62}px`
                    document.getElementById(`${player}`).style.top = `${(-n1 + 1) * 62 - correction}px`
                }
                else {
    
                    document.getElementById(`${player}`).style.left = `${(n2 - 1) * 62}px`
                    document.getElementById(`${player}`).style.top = `${-n1 * 62 - correction}px`
                }
    
            }
    
    
    
        }
    }
    
    
    document.getElementById("diceBtn").addEventListener("click", function () {
        rollingSound.play()
        num = Math.floor(Math.random() * (6 - 1 + 1) + 1)
        document.getElementById("dice").innerText = num
    
    
        if (tog % 2 != 0) {
            document.getElementById('tog').innerText = "Yellow's Turn : "
            play('p1', 'p1sum', 0, num)
    
        }
    
        else if (tog % 2 == 0) {
            document.getElementById('tog').innerText = "Red's Turn : "
    
            play('p2', 'p2sum', 55, num)
    
        }
    
        tog = tog + 1
    
    
    
    
    })
</script>
<script src="snakes.js"></script>

</html>
z
