body {
    margin: 20px;
    width: 1000px;
    background-color: #F0B27A;
    font-size: 20px;
}

button {
    font-size: 15px;
}

h2 {
    color: white;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

input {
  font-size: 15px;
  padding: 3px;
}

th, td {
    padding: 3px;
}

tr:hover {
    background-color: #f5f5f5;
}

.container {
    width: 650px;
}

.section_name {
    color: white;
    font-size: 24px;
    border-bottom: 2px solid black;
}

.contents {
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

.links {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    text-align: center;
}