body {
    margin: 0;
    padding: 0;
    background-color: #cde3f5;
    min-height: 100vh; /* Ensure body covers at least the viewport height */
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
    background-color: #5bafbd;
}

.titleI {
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
    width: 320px;
    height: 95px;
}

.footer {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed; /* Change position to fixed */
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 60px; /* Adjust line-height to match the height of the footer */
    font-size: 16px;
    color: #000000;
    z-index: 1000;
}

h1 {
    font-family: "Tempus Sans ITC", sans-serif;
    color: #a35426;
    margin-left: 16px;
}

h2 {
    font-family: "Tempus Sans ITC", sans-serif;
    text-align: center;
    color: white;
    margin-left: 16px;
    margin-bottom: 20px;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent element */
    cursor: pointer; /* Show pointer cursor on hover */
}

.title-image {
    margin-top: 20px;
    margin-left: 12px;
    width: 270px;
    height: auto;
}

.Xtree {
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 15px;
    width: 240px;
    height: 335px;
}

.Duck {

    margin-left: 9px;
    width: 70px;
    height: 65px;
    margin-bottom: 30px;
}

.logout {
    margin-left: 5px;
    margin-top: 2px;
    width: 185px;
    height: auto;
    margin-bottom: 25px;
}


.navigation {
    position: relative;
    margin-top: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.navigation ul li a z {
    text-decoration: none;
    color: #8ccbdc;
    font-size: 24px;
}

.divider {
    width: 225px;
    height: 2px;
    background-color: #8ccbdc;
    margin: 0 50px;
}

.divider2 {
    width: 275px;
    height: 4px;
    background-color: #1b88bb;
    margin: 0 25px;
    overflow: hidden;
}

.line {
    position: absolute;
    top: 0;
    left: 326px;
    height: 100%;
    width: 7px;
    background-color: #e4edef;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 60px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
}

.image-container img {
    width: 500px;
    height: 400px;
}

.image-container img:nth-child(1):hover {
    transform: translate(10px, 20px);
}

.image-container img:nth-child(2):hover {
    transform: translate(10px, 20px);
}

.image-container img:nth-child(3):hover {
    transform: translate(10px, 20px);
}

.image-container img:nth-child(4):hover {
    transform: translate(10px, 20px);
}

.content {
    margin-left: 325px;
    display: grid;
    width: 1200px;
    height: 800px;
    place-items: center;
    text-align: center;
    font-size:72px;
    font-family: "Tempus Sans ITC", sans-serif;
    font-color: white;
}

.chart {
    float: right;
    display: grid;
    width: 1150px;
    height: 800px;
    place-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Tempus Sans ITC", sans-serif;
    font-color: white;
}

th, td {
    padding: 3px;
}

tr:hover {
    background-color: #f5f5f5;
}

.ad img {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    max-height: 100%;
}

/*-----------RISK CSS STUFF-----------*/

.mute {
    position: absolute;
    top: 550px;
    left: 1140px;
    margin-top: 10px;
    margin-left: 5px;
    width: 80px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
}

.gamecontainer {
    position: relative;
    margin-left: 325px;
}

.gameboard {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.dice-container-attack {
    display: flex;
}

.dice-container-defend {
    display: flex;
}

.attack-dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    background-color: darkred;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.defend-dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    background-color: darkblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;

    /*Dot positioning*/
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    font-size: 30px;
}

.summary-container {
    display: flex;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    padding: 10px;
    margin-top: 30px;
    margin-left: 0px;
}

.summary {
    text-align: center;
    position: relative;
    font-size: 30px;
}

#tog {
    font-size: 30px;
    font-weight: bold;
}

.summary-container button {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 75px;
    border-radius: 20px;
    font-size: 30px;
}

.logout {
    height: 30px;
    width: 60px;
    text-align: center;
    margin-top: 10px;
    margin-left: 110px;
    font-weight: bold;
}