.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  height: 100vh;
  background-color: #5bafbd;
}

h1 {
  font-family: "Tempus Sans ITC", sans-serif;
  color: #cde3f5;
  margin-left: 16px;
}

h2 {
  font-family: "Tempus Sans ITC", sans-serif;
  text-align: center;
  color: white;
  margin-left: 16px;
  margin-bottom: 20px;
}

.titleI {
  margin-top: 21px;
  margin-bottom: 22px;
  margin-left: 0px;
  border-radius: 10px;
  width: 320px;
  height: 95px;
}

.Duck {

  margin-left: 9px;
  width: 70px;
  height: 65px;
  margin-bottom: 30px;
}



.login {
  margin-left: 5px;
  margin-top: 2px;
  width: 185px;
  height: auto;
  margin-bottom: 25px;
}


.navigation {
  position: relative;
  margin-top: 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navigation ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}


.divider {
  width: 225px;
  height: 2px;
  background-color: #8ccbdc;
  margin: 0 50px;
}

.divider2 {
  width: 275px;
  height: 4px;
  background-color: #1b88bb;
  margin: 0 25px;
  overflow: hidden;
}

.line {
  position: absolute;
  top: 0;
  left: 326px;
  height: 100%;
  width: 7px;
  background-color: #e4edef;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 60px;
  justify-content: center;
  margin-top: 100px;
  margin-left: 500px;
}

.image-container img {
  width: 500px;
  height: 400px;
}

.image-container img:nth-child(1):hover {
  transform: translate(10px, 20px);
}

.image-container img:nth-child(2):hover {
  transform: translate(10px, 20px);
}

.image-container img:nth-child(3):hover {
  transform: translate(10px, 20px);
}

.image-container img:nth-child(4):hover {
  transform: translate(10px, 20px);
}
body {
  margin: 0;
  background-color: #c0e1eb;
  overflow-x: hidden;
}

*, *::before, *::after {

  box-sizing: border-box;
}



.buttonInfo {
  font-size: inherit;
  background-color: hsl(68, 67%, 58%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #eaf6c6;

}

.buttonInfo:hover, .buttonInfo:focus {
  background-color: hsl(84, 73%, 51%);
}

.buttonInfo {
  font-size: 2rem;
  margin-left: 2rem;
}

.buttonInfo:first-child {
  margin-left: 50;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 50px;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(193, 44%, 54%);
  grid-template-columns: repeat(10, 4.6vmin);
  grid-template-rows: repeat(10, 4.6vmin);
  margin-top: 60px;


}

/* Add this CSS to style the popup */
#rulesModal {
  display: none; /* Hide the modal by default */
  position: absolute; /* Position the modal */
  background-color: #c3bcbc; /* Light grey background */
  padding: 20px; /* Add padding for better readability */
  border-radius: 5px; /* Add rounded corners */
  z-index: 1; /* Ensure it appears above other elements */
}

/* Add this CSS to style the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.audio-controls {
  background-image: url('music.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.audio-controls.paused {
  transform: scale(0.6); /* Minimize by 40% */
}

.modal-content {
  max-width: 400px; /* Set maximum width for the content */
  margin: 0 auto; /* Center the modal horizontally */
  text-align: justify; /* Align text to justify */
  word-break: break-all; /* Force text to wrap to next line */
  background-color: #aea6a6 !important;
}

.modal-content iframe {
  background-color: #4a4747; /* Set background color to grey */
}


.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}


.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical { /*2*/
  --height: 2;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.wheel-icon {
  position: fixed;
  bottom: 13px;
  left: 26%;
  transform: translateX(-50%);
  width: 85px;
  height: 82px;
}


.grid-computer > .taken,
.grid-computer > .boom {
  background-color: hsl(193, 44%, 54%) !important;
  border-radius: 0 !important;
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 100%);
}

.taken.start.vertical,
.taken.start.vertical::before {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.start.horizontal,
.taken.start.horizontal::before {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.taken.end.horizontal,
.taken.end.horizontal::before {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: '';
  position: absolute;
  border: .3vmin solid white;
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.grid-display {
  display: flex;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, .2);
}

.ship-info-container {
  position: relative;
  margin-top: 70px; /* Adjust as needed */
  margin-left: 20px; /* Adjust as needed */
  display: flex;
}

@media screen and (max-width: 1380px) {
  .ship-info-container {
    display: none;
  }
  .grid-display{
    display: none;
  }

}

.wheel-icon {
  width: 85px;
  height: 82px;
}

#ship-count-info {
  position: fixed;
  bottom: 60px; /* Adjust as needed */
  left: calc(27% + 50px); /* Adjust as needed */
  color: rgb(203, 159, 159);
  font-size: 22px;
  font-weight: bold;
}

#enemy-ship-count-info {
  position: fixed;
  bottom: 30px;
  left: calc(27% + 50px); /* Adjust as needed */
  color: rgb(200, 179, 137);
  font-size: 22px;
  font-weight: bold;
}


.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-txt {
  margin: 1rem;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: rgb(224, 218, 218);
}

.boom::after {
  background-color: rgb(255, 115, 0);
}

.miss::before {
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.player {
  margin: 2vmin;
}

.logout {
  height: 30px;
  width: 60px;
  text-align: center;
  margin-top: 10px;
  margin-left: 110px;
  font-weight: bold;
}