body {
  margin: 0;
  padding: 0;
  background-color: #cde3f5;
  min-height: 100vh; /* Ensure body covers at least the viewport height */
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  height: 100vh;
  background-color: #5bafbd;
}

.titleI {
  margin-top: 21px;
  margin-bottom: 22px;
  margin-left: 0px;
  border-radius: 10px;
  width: 320px;
  height: 95px;
}

.footer {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed; /* Change position to fixed */
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 60px; /* Adjust line-height to match the height of the footer */
  font-size: 16px;
  color: #000000;
  z-index: 1000;
}

h1 {
  font-family: "Tempus Sans ITC", sans-serif;
  color: #cde3f5;
  margin-left: 16px;
}

h2 {
  font-family: "Tempus Sans ITC", sans-serif;
  text-align: center;
  color: white; 
  margin-left: 16px;
  margin-bottom: 20px;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent element */
  cursor: pointer; /* Show pointer cursor on hover */
}

.title-image {
  margin-top: 20px; 
  margin-left: 12px;
  width: 270px; 
  height: auto; 
}

.Xtree {
    margin-top: 20px;    
    margin-left: 5px;
    border-radius: 15px;
    width: 240px; 
    height: 335px; 
}

.Duck {

    margin-left: 9px;
    width: 70px; 
    height: 65px; 
    margin-bottom: 30px;
}

.login {
  margin-left: 5px; 
  margin-top: 2px;
  width: 185px; 
  height: auto; 
  margin-bottom: 25px;
}


.navigation {
  position: relative; 
  margin-top: 20px; 
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  text-align: center; 
}

.navigation ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center; 
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navigation ul li a z {
  text-decoration: none;
  color: #8ccbdc;
  font-size: 24px;
}

.divider {
  width: 225px; 
  height: 2px;
  background-color: #8ccbdc; 
  margin: 0 50px; 
}

.divider2 {
  width: 275px; 
  height: 4px;
  background-color: #1b88bb; 
  margin: 0 25px; 
  overflow: hidden;
}

.line {
  position: absolute;
  top: 0;
  left: 326px; 
  height: 100%;
  width: 7px;
  background-color: #e4edef; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 60px;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
}

.image-container img {
  width: 500px;
  height: 400px;
}

.image-container img:nth-child(1):hover {
  transform: translate(10px, 20px); 
}

.image-container img:nth-child(2):hover {
  transform: translate(10px, 20px); 
}

.image-container img:nth-child(3):hover {
  transform: translate(10px, 20px); 
}

.image-container img:nth-child(4):hover {
  transform: translate(10px, 20px); 
}

.content {
  margin-left: 325px;
  display: grid;
  width: 1200px;
  height: 800px;
  place-items: center;
  text-align: center;
  font-size:72px;
  font-family: "Tempus Sans ITC", sans-serif;
  font-color: white;
}

.chart {
  float: right;
  display: grid;
  width: 1150px;
  height: 800px;
  place-items: center;
  text-align: center;
  font-size: 30px;
  font-family: "Tempus Sans ITC", sans-serif;
  font-color: white;
}

th, td {
  padding: 3px;
}

tr:hover {
  background-color: #f5f5f5;
}

.ad {
  position: fixed;
  float: right;
  top: 0;
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0.2px solid black;
}

#p1,
#p2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(236, 82, 82);
  position: relative;
  border: 3px solid black;

  /* position: absolute; */
}

#p1 {
  position: relative;
  top: 0px;
  transition: all linear 0.5s;
  /* top: 0; */
  left: -62px;
  z-index: 2;
}

#p2 {
  z-index: 2;
  position: relative;
  top: -55px;
  left: -62px;
  transition: all linear 0.5s;
  background-color: rgb(243, 181, 46);
}

#board {
  position: relative;
  top: -615px;
  left: 8px;
  /* z-index: -1; */
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  right: 120px;
  font-size: 2rem;
  z-index: 99;
}
#diceBtn {
  z-index: 99;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(75, 140, 197);
  border-radius: 5px;
  width: 200px;
}

@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    right: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-right: 20px;
  }
}
@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    right: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-right: 20px;
  }
}

.logout {
  height: 30px;
  width: 60px;
  text-align: center;
  margin-top: 10px;
  margin-left: 110px;
  font-weight: bold;
}